* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

:root {
	--corPrincipal: green;
	--backgroundPrincipal: whitesmoke;
	--backgroundSecundario: white;
	--verdeContraste: rgba(25, 135, 84, 255);
}
html {
	height: 100%;
	min-height: 100%;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: var(--backgroundPrincipal);
}

.modalHeaderColorCenter {
	text-align: center;
}
.modalHeaderColorCenter h5 {
	color: var(--corPrincipal);
}

.buttonCadastro {
	font-size: 1.2em;
	width: 200px;
	margin-bottom: 50px;
}

.barraPesquisa{
	margin-bottom: 2rem;
}

.cardBodyBlack {
	color: black;
}

/* header */
header {
	margin-bottom: 100px;
}
.navBarLinks a {
	color: var(--corPrincipal);
}
.navBarLinks a:hover {
	color: yellowgreen;
	border-style: none none solid none;
	border-color: yellowgreen;
	border-width: 1px;
}
.headerNavBar {
	background-color: white;
	position: fixed;
	z-index: 1000;
	width: 100%;
}
.dropDownMenu a:hover {
	border: none;
	background-color: white;
}
.dropDownMenu {
	list-style: none;
}

/* header */

/* footer */
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
	padding: 5px;
}
#titleFooter {
	color: rgb(36, 133, 65);
}
#textFooter {
	color: rgb(36, 133, 65);
	margin-bottom: 0;
}
/* footer */

/* Input de Cadastro */
.inputGeral {
	border-style: none none solid none;
}
.inputGeral:focus {
	box-shadow: none;
	border-color: rgba(25, 135, 84, 255);
}
.labelCadastro {
	color: var(--corPrincipal);
}
/* Input de Cadastro */

/* ScrollBar*/
::-webkit-scrollbar {
	opacity: 1;
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 10px;
}
:hover::-webkit-scrollbar-thumb {
	background-color: gray;
}
/* ScrollBar*/

/* CardsSquare */
.cardSquare {
	color: green;
	width: 17rem;
	margin: auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: 0.4s;
	margin-bottom: 20px;
	cursor: pointer;
}

.cardSquare a {
	color: var(--corPrincipal);
}

.cardSquare:hover {
	box-shadow: rgba(5, 151, 41, 0.582) 0px 0px 0px 3px;
}
/* CardsSquare */

/* MediaQuerry */
@media (max-width: 1050px) {
	.cardSquareCestas .cardSquare,
	.cardSquareFinanceiroProvisorio .cardSquare {
		width: 14rem;
	}
}

@media (max-width: 1200px) {
	footer {
		position: relative;
	}
}

@media (max-width: 768px) {
	#containerConta {
		width: 64%;
	}
}

/* MediaQuery */

/* Index */
#bodyIndex {
	background-image: url("imgs/indexBackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#bodyIndex ul button {
	color: var(--corPrincipal);
}

.tab-content button {
	font-size: 1em;
}

#containerFormIndex,
#containerFormRecuperarSenha {
	background-image: url("imgs/indexForms/efetuarLogin.jpg");
	width: 70%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 6px;
}

.colunaFormularioIndex {
	background-color: white;
	padding: 20px;
}

#containerFormRecuperarSenha {
	background-image: url("imgs/indexForms/recuperarSenha.jpg");
}

#linkIndex,
#linkIndexRecupSenha {
	color: rgba(25, 135, 84, 0.8);
	transition: 0.5s;
}

#linkIndex,
#linkIndexRecupSenha:hover {
	color: rgba(25, 135, 84, 255);
}

.nav-pills .nav-link.active {
	background-color: white;
}

#senhaUsuario,
#nomeUsuario,
#emailRecuperacao {
	border-style: none none solid none;
}

#nomeUsuario:focus,
#senhaUsuario:focus,
#emailRecuperacao:focus {
	box-shadow: none;
	border-color: var(--verdeContraste);
}

.h2Index {
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	color: var(--verdeContraste);
}
#exibirSenha:hover {
	color: var(--corPrincipal);
}

#spanExibirSenha {
	background-color: transparent;
	border: none none solid none;
	border-right: none;
	border-top: none;
}

#spanExibirSenha:focus {
	box-shadow: none;
	border-bottom-color: var(--verdeContraste);
}

#linkIndexRecupSenha {
	text-align: end;
}

/* Index */

/*criarConta.php*/
#containerCadastroConta {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}
/*criarConta.php */

/* Home */
.imagemCard {
	width: 30%;
}

/* Home */

/* Conta */
input[type="file"] {
	display: none;
}

#labelArquivo {
	cursor: pointer;
	margin-bottom: 5px;
	text-align: start;
	background-color: white;
	color: var(--corPrincipal);
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-top: 10px;
	cursor: pointer;
}

#iconAccount {
	width: 20%;
	position: absolute;
	left: 70%;
	bottom: 40%;
}

#iconAccount:hover {
	color: var(--corPrincipal);
	cursor: pointer;
}

#containerConta {
	width: 55%;
}

.containerAjustes {
	text-align: end;
}

@media (min-width: 768px) {
	#fotoButton {
		display: none;
	}
}

@media (max-width: 991px) {
	#iconAccount {
		width: 25%;
		bottom: 50%;
	}
}

@media (max-width: 768px) {
	#iconAccount {
		display: none;
	}
	.containerAjustes {
		text-align: center;
	}
	#fotoButton {
		display: inline-block;
	}
}

/* Conta */

/* responsavel */
.responsavelTable {
	color: var(--corPrincipal);
}
.responsavelTable th {
	text-align: center;
	width: 16.6%;
}
.resultadosDaTabela td {
	text-align: center;
}
/* responsavel */

/* funcionario */
.funcionarioTable {
	color: var(--corPrincipal);
}
.funcionarioTable th {
	text-align: center;
	width: 16.6%;
}
/* funcionario */

/* paginacao */
.navPaginacao li a {
	color: var(--corPrincipal);
}
.navPaginacao li a:focus {
	outline: none;
	box-shadow: none;
}
.navPaginacao li a:hover {
	color: var(--corPrincipal);
}
.navPaginacao span {
	color: var(--corPrincipal);
}
.navPaginacao span:hover {
	color: var(--corPrincipal);
}
.navPaginacao li span.active {
	color: white;
	background-color: var(--corPrincipal);
}
.navPaginacao li a {
	color: var(--corPrincipal);
}
/* paginacao */

/* animation */

@keyframes moveLeft {
	0% {
		transform: translateX(120px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(-120px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* animation */

/* Home provisorio */
#textoBoasVindas {
	color: white;
	animation-name: moveLeft;
	animation-duration: 3s;
	opacity: 1;
}
#textoBoasVindasUsuario {
	color: white;
	animation-name: moveRight;
	animation-duration: 3s;
	opacity: 1;
}

#containerHomeAnimation {
	overflow: hidden;
	position: relative;
	margin-top: 2rem;
}

#bannerHome {
	margin-top: 5rem;
	background-image: url(../imgs/bannerHome40.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 150px;
}

/* Home provisorio */
