* {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: whitesmoke;
}

/*home.php */
#textoCardHome {
	color: green;
}

#cardContainer {
	width: 17rem;
	margin: auto;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	transition: 0.4s;
}

#cardContainer:hover {
	box-shadow: rgba(5, 151, 41, 0.582) 0px 0px 0px 3px;
}

/*home.php*/

/*criarConta.php*/
#containerCadastroConta {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}
/*criarConta.php */

/* esqueciSenha.php */
#containerEsqueciSenha {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}
/* esqueciSenha.php */

/* indexLogin.php */
#containerIndexLogin {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}

.linksIndexLogin {
	color: rgba(25, 135, 84, 255);
	text-decoration: none;
}
/* indexLogin.php */

/*footer.php*/
footer {
	margin: auto;
	text-align: center;
	background-color: rgb(36, 133, 65);
	padding-top: 2px;
	padding-bottom: 2px;
	position: fixed;
	left: 0;
  	bottom: 0;
  	width: 100%;
}
#titleFooter {
	color: white;
}
#textFooter {
	color: white;
}
/*footer.php*/

/* header.php */
#linkBar {
	color: green;
}
/* header.php */

/*conta*/
#perfil {
	float: left;
	width: 30%;
	border-radius: 50%;
	padding: 10px 0px 10px 0px;
}
#caixaConta {
	transform: translate(-50%, -50%);
	text-align: center;
}
#titleConta {
	padding-top: 10px;
	padding-bottom: 20px;
}

#containerConta {
	border-style: solid;
	border-radius: 20px;
	background-image: linear-gradient(to bottom right, yellow, green);
	border-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*conta*/


/*Cestas*/
.inputModalCadastroCesta {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	size: 100px;
}

#inputDataCadastroCesta {
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	width: 185px;
}

/*Cestas*/


/*Familias */
.inputModalCadastro{
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	size: 100px;
	width: 80%;
}

.inputModalCadastroDataNasc{
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	width: 300px;
	font-size: 15px;
}


/*Famlias*/