* {
	padding: 0;
	margin: 0;
}
body {
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

/*home.php */
#containerHome {
	background-image: linear-gradient(to bottom right, yellow, green);
	margin-top: 50px;
	border-radius: 20px;
	border-style: solid;
	border-color: green;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.buttonH {
	margin-top: 20px;
	border: none;
	color: green;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	border-radius: 10px;
	border-style: solid;
	border-color: green;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition-duration: 0.4s;
}

.buttonH:hover {
	background-color: green;
	color: white;
}

#textoPrincipalHome {
	text-align: center;
	color: white;
	margin-top: 5px;
	font-size: 20px;
}
/*home.php*/

/*criarConta.php*/
#containerCadastroConta {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}
/*criarConta.php */

/* esqueciSenha.php */
#containerEsqueciSenha {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}
/* esqueciSenha.php */

/* indexLogin.php */
#containerIndexLogin {
	background-color: white;
	border-radius: 20px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-style: none none none solid;
	border-color: rgba(25, 135, 84, 255);
	border-width: 12px;
	color: black;
}

.linksIndexLogin {
	color: rgba(25, 135, 84, 255);
	text-decoration: none;
}
/* indexLogin.php */

/*footer.php*/
footer {
	margin-top: auto;
	text-align: center;
	background-color: rgb(36, 133, 65);
	padding-top: 2px;
	padding-bottom: 2px;
}
#titleFooter {
	color: white;
}
#textFooter {
	color: white;
}
/*footer.php*/

/* header.php */
#linkBar {
	color: white;
}
/* header.php */

/*conta*/
#perfil {
	float: left;
	width: 30%;
	border-radius: 50%;
	padding: 10px 0px 10px 0px;
}
#caixaConta {
	transform: translate(-50%, -50%);
	text-align: center;
}
#titleConta {
	padding-top: 10px;
	padding-bottom: 20px;
}

#containerConta {
	border-style: solid;
	border-radius: 20px;
	background-image: linear-gradient(to bottom right, yellow, green);
	border-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*conta*/
